@* addnew Template File *@
@(param: Any)

@main("Add New Employee"){
<div class="row">
<div class="col-md-8">
<form class="form-horizontal" method="post" action="/savecontact">
  <fieldset>
    <legend>Add New Employee</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-10">
        <input class="form-control" id="firstname" placeholder="Name" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputCompany" class="col-lg-2 control-label">Last Name</label>
      <div class="col-lg-10">
        <input class="form-control" id="lastname" placeholder="Company" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Company</label>
      <div class="col-lg-10">
        <input class="form-control" id="email" placeholder="Email" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-10">
        <input class="form-control" id="phone" placeholder="Phone" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDesignation" class="col-lg-2 control-label">Designation</label>
      <div class="col-lg-10">
        <input class="form-control" id="designation" placeholder="Designation" type="text">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Add Employee</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
}