@* showemployee Template File *@
@(param:String)

@main("Employee Details"){
	
	<div class="row" style="padding: 1%; font: bold;">
			<div class="col-md-12">
				<table class="table table-striped table-hover" id="target">
					<thead style="background-color:Gray;">
    					<tr>
      						<th>Name</th>
      						<th>Company</th>
      						<th>Email</th>
      						<th>Mobile</th>
      						<th>Designation</th>
    					</tr>
  					</thead>
					<tr>
						<td>Alexis</td><td>ROTODYNE</td><td>alexisdunlap.otodyne.com</td><td>+1 (936) 536-2343</td><td>Software Engineer</td>
					</tr>
					<tr>
						<td>Amalia</td><td>TRIPSCH</td><td>amaliadunlap.tripsch.com</td><td>+1 (952) 532-2210</td><td>Tester</td>
					</tr>
					<tr>
						<td>Barnett</td><td>ZILPHUR</td><td>anastasiadunlap.zilphur.com</td><td>+1 (835) 488-2630</td><td>Analyst</td>
					</tr>
					<tr>
						<td>Berger</td><td>ZILLAR</td><td>barnettdunlap.zillar.com</td><td>+1 (991) 542-3603</td><td>Software Engineer</td>
					</tr>
					<tr>
						<td>Blanca</td><td>ONTALITY</td><td>bergerdunlap.ontality.com</td><td>+1 (844) 432-3052</td><td>Tester</td>
					</tr>
					<tr>
						<td>Campbell</td><td>GINKOGENE</td><td>castrodunlap.strezzo.com</td><td>+1 (931) 412-3673</td><td>Analyst</td>
					</tr>
					<tr>
						<td>Castro</td><td>PROWASTE</td><td>durandunlap.liquicom.com</td><td>+1 (952) 593-3644</td><td>Software Developer</td>
					</tr>
					<tr>
						<td>Duran</td><td>JAMNATION</td><td>durhamdunlap.zeam.com</td><td> 	+1 (975) 470-3659</td><td>Tester</td>
					</tr>
				</table>
			</div>
		</div>
}
